body {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  background-color: #f0ebf4; /* Morado claro para el fondo */
  margin: 0;
  padding: 0;
  color: #333; /* Color de texto oscuro */
}

.center-container {
  text-align: center;
  margin-top: 20px;
}

.container {
  margin: 50px; /* Ajusta el margen según tu preferencia */
}

h1 {
  color: #7a5d8f; /* Morado para el título principal */
  font-family: 'Cursive', sans-serif; /* Fuente cursiva */
  font-size: 30px;
}

select, button {
  margin: 10px;
  padding: 8px;
}

button {
  background-color: #9b699b; /* Morado medio */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición de color al hover */
}

button:hover {
  background-color: #7a4d7a; /* Morado oscuro al hover */
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  padding: 10px;
  background-color: #f0ebf4; /* Morado claro para el fondo del elemento de lista */
  color: #7a5d8f; /* Morado para el texto del elemento de lista */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#totalBebidas {
  font-weight: bold;
  color: #7a4d7a; /* Morado oscuro para resaltar */
}
